/**
 *
 */

.front {
  background-color: black;
}

.flip-container[data-card='1'] .back {
  background-color: red;
}

.flip-container[data-card='2'] .back {
  background-color: orange;
}

.flip-container[data-card='3'] .back {
  background-color: deepskyblue;
}

.flip-container[data-card='4'] .back {
  background-color: green;
}

.flip-container[data-card='5'] .back {
  background-color: yellow;
}

.flip-container[data-card='6'] .back {
  background-color: magenta;
}

.flip-container[data-card='7'] .back {
  background-color: blue;
}

.flip-container[data-card='8'] .back {
  background-color: blueviolet;
}

.flip-container[data-card='9'] .back {
  background-color: yellowgreen;
}

.flip-container[data-card='10'] .back {
  background-color: rosybrown;
}

.flip-container[data-card='11'] .back {
  background-color: brown;
}

.flip-container[data-card='12'] .back {
  background-color: cadetblue;
}

.flip-container[data-card='13'] .back {
  background-color: blanchedalmond;
}

.flip-container[data-card='14'] .back {
  background-color: grey;
}

.flip-container[data-card='15'] .back {
  background-color: darkseagreen;
}

.flip-container[data-card='16'] .back {
  background-color: indianred;
}

.flip-container[data-card='17'] .back {
  background-color: powderblue;
}

.flip-container[data-card='18'] .back {
  background-color: darkslateblue;
}

.flip-container[data-card='19'] .back {
  background-color: dodgerblue;
}

.flip-container[data-card='20'] .back {
  background-color: darksalmon;
}

.flip-container[data-card='21'] .back {
  background-color: mediumspringgreen;
}

.flip-container[data-card='22'] .back {
  background-color: darkolivegreen;
}

.flip-container[data-card='23'] .back {
  background-color: mistyrose;
}

.flip-container[data-card='24'] .back {
  background-color: cornflowerblue;
}